/* BODY STYLE */
body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
/* MAIN SECTION  */
main{
    background-color: #f2f5dd;
}

.galleryContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100wv;
    height: 100vh;
}

.gPhotoset {
    width: 60%;
    max-width: 400px;
    position: relative;
    margin: -80px auto 0;
    aspect-ratio: 7/5;
}

.gPhotoset:hover .gPhoto {
    transform: rotate(0deg);
}

.gPhotoset:hover .gPhoto:nth-child(1) {
    left: 15vw;
    top: 15vw;
}

.gPhotoset:hover .gPhoto:nth-child(2) {
    left: -15vw;
    top: 5vw;
}

.gPhotoset:hover .gPhoto:nth-child(3) {
    left: 5vw;
    top: -10vw;
}

.gPhoto {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms all ease;
    border-radius: 1.5vw;
}

.gPhoto:nth-child(1) {
    transform: rotate(4deg);
}

.gPhoto:nth-child(2) {
    transform: rotate(3deg);
}

.gPhoto:nth-child(3) {
    transform: rotate(-3deg);
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    width: 100wv;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
    border-radius: 1px;
    text-align: center;
}

.footer .block {
    margin: 10px;
    display: inline-block;
}

.textContainer{
    background-color: #6f594f;
}